<ion-content [fullscreen]="true" class="login-content">
  <div class="wrapper">
 
   
    <div class="ion-text-center">
      <img
        src="https://api.builder.io/api/v1/image/assets/TEMP/fa401b4e2c54c67d0a8f1d96b4bf6db63abc8541?width=180"
        alt="ChamaPro Logo"
        class="logo-img"
      />
      <h1 class="brand-name">ChamaPro</h1>
      <p class="brand-sub">Serviços acessíveis para todos</p>
    </div>
 
     <form [formGroup]="formGroup" (ngSubmit)="autenticar()" style="padding: 20px;">
    
      <ion-label position="stacked" fill="outline" shape="round">E-mail</ion-label>
      <ion-input class="input" type="text" formControlName="email" placeholder="Seu email">
      </ion-input>
   
    
      <ion-label position="stacked">Senha</ion-label>
      <ion-input class="input" type="password" formControlName="senha" placeholder="Sua senha"></ion-input>
    
    <div class="center">
       <ion-button class="botaoEntrar" type="submit" expand="block" color="primary" [disabled]="!formGroup.valid">Entrar</ion-button>
    </div>
   
  </form>

    <div class="ion-text-center">
      <ion-button fill="clear" class="signup-btn" (click)="cadastro()">Não tem conta? Cadastre-se</ion-button>
    </div>
 
  </div>
</ion-content>