.botaoEntrar {
    background-color: orange;
    color: white;
    width: 90vw;
    border-radius: 50px;
    align-self: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.input {
    background-color: rgb(32, 32, 32);
    color: white;
    border-radius: 12px;
    --padding-start: 10px;
}