<ion-content [fullscreen]="true" class="view-content">
  <div class="view-wrapper">

    <!-- Header -->
    <div class="view-header ion-text-center">
      <div class="avatar-container">
        <div class="avatar">
          <ion-icon name="person-outline"></ion-icon>
        </div>

      </div>
      <h1 class="view-name">{{ dados.nome }}</h1>
      <p class="view-email">{{ dados.email }}</p>
    </div>

    <!-- Back button -->
    <div class="back-button-container" style="padding-left: 15px;">
      <ion-button fill="clear" class="back-btn" routerLink="/menu">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        Voltar
      </ion-button>
    </div>

    <!-- Info Cards -->
    <div class="info-list">

      <div class="info-card">
        <div class="info-icon">
          <ion-icon name="person-outline"></ion-icon>
        </div>
        <div class="info-content">
          <span class="info-label">Nome completo</span>
          <span class="info-value">{{ dados.nome }}</span>
        </div>
      </div>

      <div class="info-card">
        <div class="info-icon">
          <ion-icon name="mail-outline"></ion-icon>
        </div>
        <div class="info-content">
          <span class="info-label">E-mail</span>
          <span class="info-value">{{ dados.email }}</span>
        </div>
      </div>

      <div class="info-card">
        <div class="info-icon">
          <ion-icon name="calendar-outline"></ion-icon>
        </div>
        <div class="info-content">
          <span class="info-label">Data de nascimento</span>
          <span class="info-value">{{ dados.dtNasc }}</span>
        </div>
      </div>

      <div class="info-card">
        <div class="info-icon">
          <ion-icon name="card-outline"></ion-icon>
        </div>
        <div class="info-content">
          <span class="info-label">CPF</span>
          <span class="info-value">{{ dados.cpf }}</span>
        </div>
      </div>

      <div class="info-card">
        <div class="info-icon">
          <ion-icon name="location-outline"></ion-icon>
        </div>
        <div class="info-content">
          <span class="info-label">CEP</span>
          <span class="info-value">{{ dados.endereco.cep }}</span>
        </div>
      </div>

      <div class="info-card">
        <div class="info-icon">
          <ion-icon name="briefcase-outline"></ion-icon>
        </div>
        <div class="info-content">
          <span class="info-label">Tipo de conta</span>
          <span class="info-value">{{ dados.tipo }}</span>
        </div>
      </div>

    </div>

    <!-- Ação de editar -->
    <div class="edit-container">
      <ion-button expand="block" class="edit-btn" routerLink="/tabs/update">
        <ion-icon slot="start" name="create-outline"></ion-icon>
        Alterar Dados
      </ion-button>
    </div>

  </div>
</ion-content>